.input-wrapper {
  display: flex;
  flex-direction: column;
  // align-items: center;
  margin: 1.5em 1em;
  @media screen and (max-width: $sm){
    margin: 1em;
  }
  .checkbox-container {
    margin: 0 1em;
    @media screen and (max-width: $sm){
      margin: 0.5em;
      input {
        margin: 0 !important;
      }
    }
  }
  input, select {
    min-width: 50%;
    width: -webkit-fill-available;
    @media screen and (max-width: $sm){
      width: -webkit-fill-available;
    }
    margin-left: 1em;
    @media screen and (max-width: $sm){
      margin-left: unset;
      margin: 1em 0;
    }
    padding: 0.5em;
    background: white;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgba(0,0,0,0.2);
  }

  
  .checkbox-group-wrapper {
    display: flex;
    width: -webkit-fill-available;
    @media screen and (max-width: $sm){
      flex-direction: column;
    }
  }

  input[type=checkbox], input[type=radio] {
    // margin-left: 1em;
    // margin-right: 0.25em;
    margin: 0;
    @media screen and (max-width: $sm){
      margin: 1em 0;
    }
  }
  label {
    font-size: 1.1em;
    // margin-right: 1em;
  }
  .error {
    color: $color-error;
    @media screen and (max-width: $sm){
      margin-top: -0.75em;
    }
  }
  
}

.date-select-wrapper{
  display: flex;
  width: -webkit-fill-available;

  .input-wrapper {
    margin-left: 0;
  }
  .date-select {
    display: flex;
    flex-wrap: wrap;
  }  
}

.label-input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  @media screen and (max-width: $sm){
    flex-direction: column;
    align-items: flex-start;
  }
  label {
    width: 30%;
    @media screen and (max-width: $sm){
      width: 100%;
    }  
  }
}
.submit-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  margin: auto;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.25em;
  // margin-left: 1em;
  padding: 0.5em 1.5em;
  // background: $color-blue;
  color: white;
  background: linear-gradient(to bottom right, $color-blue-full, $color-violet-full);
  border-radius: 5px;
  outline: none;
  border: 1px solid $color-shadow;
  transition: all 0.2s ease-in-out; 
  &:hover {
    color: white;  
    background: linear-gradient(to bottom right,  $color-violet-full, $color-blue-full);
    box-shadow: 0 0 5px 1px $color-violet-full;
  }
}

.geosuggest {
  margin: 0;
  padding: 0;
  width: -webkit-fill-available;
}

.geosuggest__input {
  min-width: 50%;
  width: -webkit-fill-available
}


.geosuggest__suggests-wrapper {
  position: absolute;
  z-index: 10;
  margin-left: 0;
}

.geosuggest__suggests {
  padding: 0;
  box-sizing: border-box;
  box-shadow: 0.4rem 0.4rem 0.4rem #e5e5e5;
  background: transparent;
  border-top: 0.1rem solid #e5e5e5;
  border-bottom: 0.1rem solid #e5e5e5;
  border-left: 0.1rem solid #e5e5e5;
  border-right: 0.1rem solid #e5e5e5;
  border-radius: 0;
  outline: 0;
  background-color: #fafafa;
}

.geosuggest__item {
  list-style-type: none;
}

.geosuggest__suggests--hidden {
  max-height: 0;
  padding: 0 !important;
  overflow: hidden;
  border-width: 0;
}

.geosuggest__item--active {
  background: $color-blue-full;
  color: #fff;
}