.input-wrapper {
  display: flex;
  flex-direction: column;
  // align-items: center;
  margin: 1.5em 1em;
  @media screen and (max-width: $sm){
    margin: 1em;
  }
  .checkbox-container {
    margin: 0 1em;
    @media screen and (max-width: $sm){
      margin: 0.5em;
      input {
        margin: 0 !important;
      }
    }
  }
  input, select {
    margin-left: 1em;
    @media screen and (max-width: $sm){
      margin-left: unset;
      margin: 1em 0;
    }
    padding: 0.5em;
    background: white;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgba(0,0,0,0.2);
  }

  
  .checkbox-group-wrapper {
    display: flex;
    @media screen and (max-width: $sm){
      flex-direction: column;
    }
  }

  input[type=checkbox], input[type=radio] {
    // margin-left: 1em;
    // margin-right: 0.25em;
    margin: 0;
    @media screen and (max-width: $sm){
      margin: 1em 0;
    }
  }
  label {
    font-size: 1.1em;
    // margin-right: 1em;
  }
  .error {
    color: $color-error;
    @media screen and (max-width: $sm){
      margin-top: -0.75em;
    }
  }
  
}

.date-select-wrapper{
  display: flex;
  .input-wrapper {
    margin-left: 0;
  }
  .date-select {
    display: flex;
    flex-wrap: wrap;
  }  
}

.label-input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  @media screen and (max-width: $sm){
    flex-direction: column;
    align-items: flex-start;

  }

}
.submit-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  margin: auto;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.25em;
  // margin-left: 1em;
  padding: 0.5em 1.5em;
  // background: $color-blue;
  color: white;
  background: linear-gradient(to bottom right, $color-blue-full, $color-violet-full);
  border-radius: 5px;
  outline: none;
  border: 1px solid $color-shadow;
  transition: all 0.2s ease-in-out; 
  &:hover {
    color: white;  
    background: linear-gradient(to bottom right,  $color-violet-full, $color-blue-full);
    box-shadow: 0 0 5px 1px $color-violet-full;
  }
}