
@import "./core/index.scss";
html {
  min-height: 100vh;
  background: linear-gradient(to bottom right, transparent, $color-green, transparent, $color-violet, transparent), 
              linear-gradient(to bottom left, transparent, $color-green, transparent, $color-violet, transparent),
              linear-gradient(to top right, transparent, $color-green, transparent, $color-violet, transparent), 
              linear-gradient(to top left, transparent, $color-green, transparent, $color-violet, transparent),
              linear-gradient(to bottom , transparent, $color-green, transparent, $color-violet, transparent), 
              linear-gradient(to top, transparent, $color-green, transparent, $color-violet, transparent),
              $color-violet;
  background-size: cover;
  body {
    
  }
}